
@{
    ViewData["Title"] = "IsTecrubesi";
}

<h1>IsTecrubesi</h1>


<div class="mb-3">

    <label class="form-label" style="margin-top:10px;" for="inputPassword">Geçmiş İş yeri bilgileri </label>>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Lütfen Hepsini Tek Cümlede Yazınız" required>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Görevli Bulunduğunuz Kişi" required>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Aylık Geliriniz" required>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Giriş Çıkış Saatleriniz" required>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Ayrılış Nedenleriniz" required>
</div>


<div style="margin-top:25px;margin-bottom:25px;">
    <label>Kısa Özgeçmişinizi yazıp kendinizi tanıtınız </label>
    <input placeholder="en fazla 5000 karakter giriniz" class="form-control" style="height:250px"  >
</div>

<div>
    <label class="form-label" style="margin-top:10px;" for="inputPassword">İstihdam Gelir Durumu </label>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Ne tip iş tercih edersiniz" required>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Seyahat Edebilirmisiniz" required>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Mesai Saati Çalışmayı Kabul Edermisiniz" required>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="İstediğiniz Maaş Ücreti" required>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Ne zaman Başlayabilirsiniz" required>
    <input class="form-control" style="margin-top:10px;" id="inputPassword" placeholder="Staj İçin başvuru yaptıysanız başlama ve bitiş tarihlerini yazınız" required>
</div>


    <div class="form-check" style="margin-top:25px">
        <input class="form-check-input" type="checkbox" id="checkRemember">
        <label class="form-check-label" for="checkRemember">2 aylık bir deneme sürecini onaylıyor musunuz</label>
    </div>

    <div style="margin:25px;padding-bottom:25px">
        <button type="submit" asp-action="EgitimDurumu" class="btn btn-primary">Önceki Sayfa</button>
        <button type="submit" asp-action="LastPage" class="btn btn-primary" >Başvuruyu Tamamla</button>
    </div>
    