@model basvuruForm.Models.Entities.Personal

@{
    ViewData["Title"] = "Home Page";
}

<div >
    <ul>
        <li>Bütün soruları eksiksiz olarak yanıtlayınız</li>
        <li> formu doldurmuş olmanız şirketimizi hiçbir şekilde taahüt altına sokmaz</li>
        <li> işe alınanların yanlış bilgi verdikleri tespiti halinde hizmet akdi ihbarsız ve tazminatsız feshedilir</li>
    </ul>

    <form asp-action="VeriAlIndex" asp-controller="Home" method="post">
        <h3>Kişisel Bilgiler</h3>
        <br />

        <div class="mb-3">
            <label class="form-label">AdSoyad</label>
            <input asp-for="AdSoyad"  class="form-control" name="AdSoyad" placeholder="AdSoyad" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Doğum tarihi</label>
            <input asp-for="DogumTarihi" class="form-control" name="DogumTarihi" placeholder="Doğum Tarihi" required>
        </div>

        <div class="mb-3">
            <label class="form-label" >Doğum Yeri</label>
            <input asp-for="DogumYeri" class="form-control" name="DogumYeri" placeholder="Doğum Yeri" required>
        </div>
               <div class="mb-3">
            <label class="form-label" for="inputPassword">Cinsiyeti</label> <br />
            <div class="radio">
                <label><input type="radio" name="Cinsiyet" checked> Erkek</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="Cinsiyet"> Kadın</label>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="inputPassword">Medeni Durumu</label> <br />

            <div class="radio">
                <label><input type="radio" name="MedeniDurum" checked>Bekar</label>
            </div>
            <div class="radio">
                <label><input type="radio" name="MedeniDurum">Evli</label>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label" for="inputPassword">Adresi</label>
            <input asp-for="Adres"  class="form-control" name="Adres" placeholder="Adresi" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="inputPassword">Telefon</label>
            <input asp-for="Telefon"  class="form-control" name="Telefon" placeholder="Telefon" required>
        </div>

        <div class="mb-3">
            <label class="form-label" for="inputPassword">E-Posta</label>
            <input asp-for="Mail" type="email" class="form-control" name="Mail" placeholder="E-Posta" required>
        </div>

        


        <button type="submit" asp-action="EgitimDurumu" class="btn btn-primary" style="margin-bottom:25px;margin-top:25px">Sıradaki Sayfa</button>
    </form>


</div>
